/*****--------------------block-----------------*****/
@media only screen and (max-width: 1024px) {
  .block {
    width: calc(100% - 230px);
  }

  .aside {
    &__block {
      padding: 15px;
    }
  }

  .request {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .block {
    width: 100%;
  }

}

@media only screen and (max-width: 640px) {
  .main {
    &__title {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .request {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__column {
      &:last-child {
        grid-column: 1/4;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 35px;
      }
    }

    &__info {
      margin-bottom: auto;
    }
  }

  .info-block {
    &__double-list {
      grid-template-columns: 1fr;
    }

    &__group-double {
      grid-template-columns: 1fr;
      grid-row-gap: 20px;
    }

    &__border {
      padding: 15px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .main {
    &__title {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .request {
  	grid-template-columns: 1.5fr 1fr 1fr;
    .button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 400px) {
	.request {
		padding: 10px;
		grid-template-columns: repeat(1, 1fr);
		&__column {
			grid-column: 1/2;
			&:last-child {
				margin-top: 5px;
			}
		}
	}
}


/*****--------------------block-----------------*****/