<!-- <header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="index.html"><img src="img/logo.png" alt=""></a>
      </div>
      <div class="header__curs">
        <div class="header__curs-euro">76.20</div>
        <div class="header__curs-dolar">90.20</div>
      </div>
      <ul class="header__menu">
        <li class="header__menu-item">
          <a href="news.html" class="header-menu-link my-link">Новости</a>
        </li>
        <li class="header__menu-item">
          <a href="" class="header-menu-link">Финансовая граммотность</a>
        </li>
        <li class="header__menu-item">
          <a href="" class="header-menu-link">Скидки</a>
        </li>
        <li class="header__menu-item">
          <a href="" class="header-menu-link">Рейтинги МФО</a>
        </li>
        <li class="header__menu-item">
          <a href="bank-rating.html" class="header-menu-link my-link">Рейтинги банков</a>
        </li>
      </ul>
      <div class="header__location">
        <div class="header__location-now">Россия</div>
        <div class="header__location-hidden">
          <div class="container">
            <div class="hidden__inner">
              <div class="hidden__close"></div>
              <h2 class="hidden__title">Поиск города</h2>
              <form class="hidden__search">
                <input type="text" class="hidden__input">
                <button class="hidden__find"></button>
              </form>
              <div class="hidden__cities">
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link hidden__cities-link--active">Барнаул</span></li>
                  <li><span class="hidden__cities-link">Владивосток</span></li>
                  <li><span class="hidden__cities-link">Волгоград</span></li>
                  <li><span class="hidden__cities-link">Воронеж</span></li>
                  <li><span class="hidden__cities-link">Екатеринбург</span></li>
                  <li><span class="hidden__cities-link">Ижевск</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Ижевск</span></li>
                  <li><span class="hidden__cities-link">Казань</span></li>
                  <li><span class="hidden__cities-link">Калуга</span></li>
                  <li><span class="hidden__cities-link">Кемерово</span></li>
                  <li><span class="hidden__cities-link">Краснодар</span></li>
                  <li><span class="hidden__cities-link">Красноярск</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Москва</span></li>
                  <li><span class="hidden__cities-link">Нижний Новгород</span></li>
                  <li><span class="hidden__cities-link">Новокузнецк</span></li>
                  <li><span class="hidden__cities-link">Новосибирск</span></li>
                  <li><span class="hidden__cities-link">Омск</span></li>
                  <li><span class="hidden__cities-link">Оренбург</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Пенза</span></li>
                  <li><span class="hidden__cities-link">Пермь</span></li>
                  <li><span class="hidden__cities-link">Ростов</span></li>
                  <li><span class="hidden__cities-link">Ростов-на-Дону</span></li>
                  <li><span class="hidden__cities-link">Самара</span></li>
                  <li><span class="hidden__cities-link">Санкт-Петербург</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Саратов</span></li>
                  <li><span class="hidden__cities-link">Тольятти</span></li>
                  <li><span class="hidden__cities-link">Томск</span></li>
                  <li><span class="hidden__cities-link">Тюмень</span></li>
                  <li><span class="hidden__cities-link">Ульяновск</span></li>
                  <li><span class="hidden__cities-link">Уфа</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Хабаровск</span></li>
                  <li><span class="hidden__cities-link">Челябинск</span></li>
                  <li><span class="hidden__cities-link">Ярославль</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="header__location-bg"></div>
        </div>
      </div>
    </div>
    <ul class="services__menu">
      <li class="services__item"><a href="currency.html" class="services__link my-link">Курсы валют</a></li>
      <li class="services__item"><a href="zaim.html" class="services__link my-link">Займы</a></li>
      <li class="services__item"><a href="" class="services__link ">Кредиты</a></li>
      <li class="services__item"><a href="" class="services__link">Банки</a></li>
      <li class="services__item"><a href="mfo.html" class="services__link my-link">МФО</a></li>
      <li class="services__item"><a href="" class="services__link">Дебетовые карты</a></li>
      <li class="services__item"><a href="" class="services__link">Вклады</a></li>
      <li class="services__item"><a href="" class="services__link">Страхование</a></li>
      <li class="services__item"><a href="" class="services__link">РКО</a></li>
    </ul>
  </div>
</header> -->
<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">
        <a href="index.html"><img src="img/logo.png" alt=""></a>
      </div>
      <div class="header__curs">
        <div class="header__curs-euro">76.20</div>
        <div class="header__curs-dolar">90.20</div>
      </div>
      <div class="header__location">
        <div class="header__location-now">Россия</div>
        <div class="header__location-hidden">
          <div class="container">
            <div class="hidden__inner">
              <div class="hidden__close"></div>
              <h2 class="hidden__title">Поиск города</h2>
              <form class="hidden__search">
                <input type="text" class="hidden__input">
                <button class="hidden__find"></button>
              </form>
              <div class="hidden__cities">
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link hidden__cities-link--active">Барнаул</span></li>
                  <li><span class="hidden__cities-link">Владивосток</span></li>
                  <li><span class="hidden__cities-link">Волгоград</span></li>
                  <li><span class="hidden__cities-link">Воронеж</span></li>
                  <li><span class="hidden__cities-link">Екатеринбург</span></li>
                  <li><span class="hidden__cities-link">Ижевск</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Ижевск</span></li>
                  <li><span class="hidden__cities-link">Казань</span></li>
                  <li><span class="hidden__cities-link">Калуга</span></li>
                  <li><span class="hidden__cities-link">Кемерово</span></li>
                  <li><span class="hidden__cities-link">Краснодар</span></li>
                  <li><span class="hidden__cities-link">Красноярск</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Москва</span></li>
                  <li><span class="hidden__cities-link">Нижний Новгород</span></li>
                  <li><span class="hidden__cities-link">Новокузнецк</span></li>
                  <li><span class="hidden__cities-link">Новосибирск</span></li>
                  <li><span class="hidden__cities-link">Омск</span></li>
                  <li><span class="hidden__cities-link">Оренбург</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Пенза</span></li>
                  <li><span class="hidden__cities-link">Пермь</span></li>
                  <li><span class="hidden__cities-link">Ростов</span></li>
                  <li><span class="hidden__cities-link">Ростов-на-Дону</span></li>
                  <li><span class="hidden__cities-link">Самара</span></li>
                  <li><span class="hidden__cities-link">Санкт-Петербург</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Саратов</span></li>
                  <li><span class="hidden__cities-link">Тольятти</span></li>
                  <li><span class="hidden__cities-link">Томск</span></li>
                  <li><span class="hidden__cities-link">Тюмень</span></li>
                  <li><span class="hidden__cities-link">Ульяновск</span></li>
                  <li><span class="hidden__cities-link">Уфа</span></li>
                </ul>
                <ul class="hidden__cities-list">
                  <li><span class="hidden__cities-link">Хабаровск</span></li>
                  <li><span class="hidden__cities-link">Челябинск</span></li>
                  <li><span class="hidden__cities-link">Ярославль</span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="header__location-bg"></div>
        </div>
      </div>
      <div class="header__burger"></div>
    </div>
    <div class="services__wrapper">
      <ul class="services__menu">
        <li class="services__item"><div class="services__toggle"></div></li>
        <li class="services__item"><a href="currency.html" class="services__link">Курсы валют</a></li>
        <li class="services__item"><a href="zaim.html" class="services__link">Займы</a></li>
        <li class="services__item"><a href="mfo.html" class="services__link">МФО</a></li>
        <li class="services__item"> <a href="news.html" class="services__link">Новости</a> </li>
        <li class="services__item"> <a href="bank-rating.html" class="services__link">Рейтинги банков</a></li>
      </ul>
    </div>
  </div>
</header>